<footer class="footer">
    <div class="footer-wrap">
        <div class="social-media">
            {{#if @site.facebook}}<a title="Facebook {{@site.facebook}}" href="{{facebook_url}}" target="_blank" rel="noopener noreferrer">Facebook</a>{{/if}}
            {{#if @site.twitter}}<a title="Twitter {{@site.twitter}}" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer">Twitter</a>{{/if}}
            <a title="Instagram" href="https://instagram.com/godofredoninja" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a title="YouTube" href="https://instagram.com/godofredoninja" target="_blank" rel="noopener noreferrer">YouTube</a>
            <a title="GitHub" href="https://instagram.com/godofredoninja" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>
        {{!-- copy --}}
        <div class="footer-copy">
            &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
            Design with <3 by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
        </div>
    </div>
</footer>