<header class="header">
    <div class="desktop-nav u-flexColumnTop">
        <div class="desktop-nav__header">
            {{!-- logo --}}
            <div class="logo u-fontWeightBold">
                <a href="/">
                    {{#if @site.logo}}
                        <img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}"/>
                    {{else}}
                        <span class="u-lineHeight1 u-fontSizeLarger">{{@site.title}}</span>
                    {{/if}}
                </a>
            </div>
        </div>

        <div class="desktop-nav__body">
            {{!-- menu --}}
            {{navigation}}

            {{!-- Search --}}
            <div class="search-field u-marginBottom20">
                <div class="js-open-search u-pointer">
                    Search
                    <span class="icon icon--search icon--gray"> {{> "icons/search"}} </span>
                </div>

            </div>

            {{!-- Topics --}}
            {{> "widget/header-topics"}}

        </div>
    </div>
</header>