<header class="header">
    <div class="nav u-flexColumnTop">
        <div class="nav-header u-flexCenter">
            {{!-- logo --}}
            <div class="logo u-relative">
                <a href="/" class="u-block">
                    {{#if @site.logo}}
                        <img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}"/>
                    {{else}}
                        <span class="u-lineHeight1 u-fontWeightBold u-fontSizeLarger gradient-text gradient-text--green">{{@site.title}}</span>
                    {{/if}}
                </a>
            </div>

            <div class="nav-header--right u-flexCenter u-hide-after-lg">
                {{!-- Open Search in Mobile --}}
                <div class="js-open-search nav-menu-search u-pointer"><span class="icon icon--search icon--green">{{> "icons/search"}}</span></div>
                {{!-- Open Menu in Mobile --}}
                <div class="js-toggle-menu nav-menu-toggle u-pointer"><span></span><span></span><span></span></div>
            </div>
        </div>

        <div class="nav-body">
            <div class="nav-body-wrap">
                <div class="nav-social-media u-hide-after-lg">
                    {{!-- Widget Social Media - partials/widget/social-media.hbs --}}
                    {{> "widget/social-media"}}
                </div>

                {{!-- menu --}}
                {{navigation}}

                {{!-- Open Seaarch --}}
                <div class="search-field u-marginBottom20 u-hide-before-lg">
                    <div class="js-open-search u-pointer u-fontSizeBase u-fontWeightMedium">
                        <span>{{t "Search"}}</span>
                        <span class="icon icon--search icon--gray"> {{> "icons/search"}} </span>
                    </div>
                </div>

                {{!-- Topics --}}
                {{> "widget/header-topics"}}
            </div>
        </div>
    </div>
</header>