<article class="story u-relative u-flex u-flexWrap {{#has tag="#video, #image"}}story--featured{{/has}}">
    {{!-- Story Header --}}
    <header class="story-header">
        <h2 class="story-title u-fontWeightBold u-fontSize22"><a href="{{url}}" class="u-colorInherit">{{title}}</a></h2>
        {{!-- Excerpt if story is video or image --}}
        {{#has tag="#video, #image"}}<div class="story-body u-hide-before-md"><p>{{excerpt words="25"}}</p></div>{{/has}}
        {{!-- meta helper/helper-meta-story.hbs  --}}
        {{> "helper/helper-meta-story"}}
    </header>
    {{!-- Story Body - excerpt is not video or image--}}
    {{^has tag="#video, #image"}}<div class="story-body u-hide-before-md"><p>{{excerpt words="25"}}</p></div>{{/has}}
    {{!-- Story Image --}}
    {{#if feature_image}}
        <footer class="story-footer">
            <figure class="story-media u-relative">
                <img class="story-img u-absolute0 u-image u-block lazyload"
                    src="{{img_url feature_image size="m"}}"
                    srcset="{{img_url feature_image size="xxs"}}"
                    data-srcset="{{img_url feature_image size="s"}} 300w,{{img_url feature_image size="m"}} 600w"
                    data-sizes="(max-width: 1000px) 400px, 600px"
                    alt="{{title}}"
                />
                {{#has tag="#video"}}<span class="icon icon--play icon--green">{{> "icons/play"}}</span>{{/has}}
            </figure>
        </footer>
    {{/if}}
    {{!-- link --}}
    <a href="{{url}}" aria-label="{{title}}" class="u-absolute0 zindex2"></a>
</article>