{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-author{{/contentFor}}

{{#author}}

<div class="rimay-wrap u-relative author {{#if cover_image}}has-cover{{/if}}">
    {{!-- if have image --}}
    {{#if cover_image}}
      <span class="u-absolute0 pif-bg zindex2"></span>
      <img class="u-absolute u-image u-block zindex1"
          srcset="{{img_url cover_image size="s"}} 300w,
              {{img_url cover_image size="m"}} 600w,
              {{img_url cover_image size="l"}} 1000w,
              {{img_url cover_image size="xl"}} 2000w"
          sizes="(max-width: 1000px) 400px, 700px"
          src="{{img_url cover_image size="m"}}"
          alt="{{name}}"
      />
    {{/if}}

    <div class="rimay-content u-relative zindex3">

        <div class="author-wrap">
            {{!-- Profile --}}
            {{#if profile_image}}
            <figure class="u-marginBottom30">
                <img class="author-avatar u-round" src="{{img_url profile_image size="s"}}" alt="{{t "Hi I'm"}} {{name}}"/>
            </figure>
            {{/if}}
            {{!-- Name --}}
            <h1 class="author-name">{{name}}</h1>
            {{!-- author biography --}}
            {{#if bio}}<div class="author-bio u-fontSizeLarge"><p>{{bio}}</p></div>{{/if}}

            <footer class="author-footer">
                {{!-- Author (Location - website - RSS) --}}
                <div class="author-meta u-marginTop30 u-fontSizeBase">
                    {{#if location}}<span class="author-location">📍 {{location}}</span>{{/if}}
                    {{#if website}}<span class="author-page"><a href="{{website}}" target="_blank" rel="noopener noreferrer">🔗 {{website}}</a></span>{{/if}}
                </div>

                {{!-- Author Facebook and Twitter --}}
                <div class="author-social u-marginTop30">
                    {{#if facebook}}<a href="{{facebook_url}}" title="Facebook" class="u-fontSizeSmall" target="_blank" rel="noopener noreferrer"><span class="icon icon--facebook">{{> "icons/facebook"}}</span> Facebook</a>{{/if}}
                    {{#if twitter}}<a href="{{twitter_url}}" title="{{twitter}}" class="u-fontSizeSmall" target="_blank" rel="noopener noreferrer"><span class="icon icon--twitter">{{> "icons/twitter"}}</span> Twitter</a>{{/if}}
                    <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener noreferrer">📰 {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</a>
                </div>

            </footer>
        </div>

    </div>
</div>

{{/author}}

{{!-- Loop Story partials/loop.hbs --}}
{{> "loop"}}