{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-author{{/contentFor}}

{{#author}}

<div class="rimay-wrap u-relative author {{#if cover_image}}has-cover{{/if}}">
    {{#if cover_image}}
      <span class="u-absolute0 pif-bg zindex2"></span>
      <img class="u-absolute u-image u-block zindex1"
          srcset="{{img_url cover_image size="s"}} 300w,
              {{img_url cover_image size="m"}} 600w,
              {{img_url cover_image size="l"}} 1000w,
              {{img_url cover_image size="xl"}} 2000w"
          sizes="(max-width: 1000px) 400px, 700px"
          src="{{img_url cover_image size="m"}}"
          alt="{{name}}"
      />
    {{/if}}

    <div class="rimay-content u-relative zindex3">

        <div class="author-wrap">
            {{!-- Avatar --}}
            {{#if profile_image}}
            <figure class="u-marginBottom30">
                <img class="author-avatar u-round" src="{{img_url profile_image size="s"}}" alt="{{t "Hi I'm"}} {{name}}"/>
            </figure>
            {{/if}}
            {{!-- Name --}}
            <h1 class="author-name">{{name}}</h1>
            {{!-- Biography --}}
            {{#if bio}}<div class="author-bio u-fontSizeLarge"><p>{{bio}}</p></div>{{/if}}

            <footer class="author-footer">
                {{!-- Author (Location - website) --}}
                <div class="author-meta u-marginTop30 u-fontSizeBase">
                    {{#if location}}<span class="author-location"><svg class="icon icon--map"><use xlink:href="#icon-map"></use></svg> {{location}}</span>{{/if}}
                    {{#if website}}<a href="{{website}}" class="author-page u-inlineBlock" target="_blank" rel="noopener noreferrer"><svg class="icon icon--link"><use xlink:href="#icon-link"></use></svg> {{website}}</a>{{/if}}
                </div>

                {{!-- Author ( Facebook - Twitter - RSS ) --}}
                <div class="author-social u-marginTop30 buttonSet">
                    {{#if facebook}}
                        <a href="{{facebook_url}}" title="Facebook" class="button button--black" target="_blank" rel="noopener noreferrer">
                            <svg class="icon icon--facebook"><use xlink:href="#icon-facebook"></use></svg> Facebook
                        </a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" title="{{twitter}}" class="button button--black" target="_blank" rel="noopener noreferrer">
                            <svg class="icon icon--twitter"><use xlink:href="#icon-twitter"></use></svg> Twitter
                        </a>
                    {{/if}}

                    <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" class="button button--black" rel="noopener noreferrer">
                        <svg class="icon icon--rss"><use xlink:href="#icon-rss"></use></svg>
                        {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
                    </a>
                </div>
            </footer>
        </div>

    </div>
</div>

{{/author}}

{{!-- Loop Story partials/loop.hbs --}}
{{> "loop"}}