{{!-- Layout --}}
{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-topic{{/contentFor}}

<div class="rimay-wrap">
    <div class="rimay-content">
        <div class="topic-row">
            {{#post}}<h1 class="topic-title">{{title}}</h1>{{/post}}

            {{#get "tags" limit="18" include="count.posts" order="count.posts desc"}}
                {{#foreach tags}}
                <div class="topic-col u-marginBottom30">
                    <div class="topic-items u-relative u-flexColumnCenter u-flexCenter u-overflowHidden">

                        {{#if feature_image}}
                            <img class="story-img u-absolute0 u-image u-block lazyload"
                                src="{{img_url feature_image size="m"}}"
                                srcset="{{img_url feature_image size="xxs"}}"
                                data-srcset="{{img_url feature_image size="s"}} 300w,{{img_url feature_image size="m"}} 600w"
                                data-sizes="(max-width: 1000px) 400px, 600px"
                                alt="{{title}}"
                            />
                        {{/if}}

                        <div class="topic-gradient u-absolute0"></div>
                        <h3 class="u-relative zindex2 u-textCapitalize">
                            <a href="{{url}}" class="u-colorInherit">{{name}} <span class="u-fontSizeSmall">({{count.posts}})</span> </a>
                        </h3>

                        {{!-- Link --}}
                        <a href="{{url}}" aria-label="{{name}}" class="u-absolute0 zindex3"></a>
                    </div>
                </div>
                {{/foreach}}
            {{/get}}

        </div>
    </div>
</div>