<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles --}}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,900&display=swap" rel="stylesheet">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Paytone+One|Rokkitt:400,500&display=swap" rel="stylesheet"> --}}
    {{!-- <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800&display=swap" rel="stylesheet"> --}}

    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>
<body class="{{block "special_body_class"}}">
    <div class="rimay">
        {{!-- Header --}}
        {{> "header"}}

        <div class="rimay-main-content"> {{{body}}} </div>

        {{!-- Footer --}}
        {{!-- {{> "footer"}} --}}
        {{> "footer-two"}}
    </div>

    {{!-- Search - partials/widget/search.hbs --}}
    {{> "widget/search"}}

    {{!-- Site Url --}}
    <script> var siteUrl = '{{@site.url}}'; </script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

    {{!-- The main JavaScript --}}
    <script src="{{asset "scripts/main.js"}}" defer></script>

    {{!-- Pagination --}}
    {{#if pagination.pages}}<script src="{{asset "scripts/pagination.js"}}" defer></script>{{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}
</body>
</html>