<footer class="article-footer">
       <div class="social-share">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                aria-label="{{t "Share on Facebook"}}"
                onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
                {{> "icons/facebook"}}
            </a>
            <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                aria-label="{{t "Share on Twitter"}}"
                onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
                {{> "icons/twitter"}}
            </a>
            <a href="https://www.reddit.com/submit?url={{url absolute="true"}}&amp;title={{encode title}}"
                aria-label="{{t "Share on Reddit"}}"
                onclick="window.open(this.href, 'share-reddit', 'width=600,height=480');return false;">
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&amp;title={{encode title}}"
                aria-label="{{t "Share on Linkedin"}}"
                onclick="window.open(this.href, 'share-linkeding', 'width=600,height=480');return false;">
                {{> "icons/linkedin"}}
            </a>
       </div>

       <div class="shortlink"></div>
</footer>