<div class="u-meta u-fontSizeSmall u-fontWeightMedium">
    <div class="u-meta-byline">
        {{!-- Datetime --}}
        <time class="datetime u-meta-time" datetime="{{date format=" YYYY-MM-DD "}}">{{date published_at timeago="true"}}</time>
        {{!-- Primary Tag --}}
        {{#if primary_tag}}{{#primary_tag}}
        <span class="u-meta-tag">
            <a class="u-colorHoverPrimary u-textCapitalize u-colorInherit u-relative zindex3" href="{{url}}" aria-label="{{name}}">{{name}}</a>
        </span>
        {{/primary_tag}}{{/if}}
    </div>
</div>