<div class="rimay-paway-left">
    {{#foreach posts limit="1"}}
        <article class="primary-post u-relative">
            <h1 class="primary-post-title u-marginBottom10 u-lineHeight1 u-fontSizeLarger u-fontWeightSemibold">
                <a href="{{url}}" class="u-colorInherit">{{title}}</a>
            </h1>
            {{!-- Meta {primary tag} partiasl/helper/meta-meta.hbs --}}
            {{> "helper/helper-meta"}}

            {{!-- Image --}}
            <figure class="primary-post-figure u-relative">
                {{#if feature_image}}
                    <img class="primary-post-img u-absolute0 u-image u-block"
                        src="{{img_url feature_image size="m"}}"
                        srcset="{{img_url feature_image size="s"}} 300w,{{img_url feature_image size="m"}} 600w"
                        sizes="(max-width: 1000px) 400px, 600px"
                        alt="{{title}}"
                    />
                {{else}}
                    <div class="u-absolute0 u-bgCover u-block" style="background-image:url({{asset "images/not-image.jpg"}})"></div>
                {{/if}}
            </figure>
            {{!-- link --}}
            <a href="{{url}}" aria-label="{{title}}" class="u-absolute0 zindex2"></a>
        </article>
    {{/foreach}}
</div>